        <div class="head-nav form-inline">
            <img class="avatart-img" src="{{ avatar_res }}" height="48" alt="" loading="lazy">
            <div class="head-box">
                <p class="avatar-name profile_box" style="font-size: 20px">{{ username }}</p>
                <div class="head-container">
                    <p><a class="head-link profile_box" href="logout">log out</a></p>
                    <p><a class="head-link profile_box" href="#">settings</a></p>
                </div>
            </div>
        </div>
