        <div class="head-nav form-inline">
            <img class="avatart-img" src="{{ avatar_res }}" height="48" alt="" loading="lazy">
            <div class="head-box">
                <p class="avatar-name text-light">{{ username }}</p>
                <div class="head-container">
                    <p><a class="head-link text-white-50" href="logout/">log out</a></p>
                    <p><a class="head-link text-white-50" href="#">settings</a></p>
                </div>
            </div>
        </div>
