<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top container bg-dark justify-content-md-between">
        <div class="">
            <p><a class="navbar-brand" href="#">Proforgia</a></p>
        </div>
        <div class="">
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        {% block logged_fragment %}
            {% include ../wt_templates/templates/inc/header_logged.html %}
        {% endblock %}
    </nav>
</header>
