<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-expand-lg">
            <div class="container-fluid">
            <div class="">
                <p><a style="font-size: 32px" class="navbar-brand" href="#">Proforgia</a></p>
<!--                <img src="../static/img/books.png" style="width:64px;">-->
            </div>
            <div class="">
                <form class="form-inline mt-2 mt-md-0" method="post">
                    <input class="form-control mr-sm-2" type="text" name="tag" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            {% block logged_block %}
                {% include ../wt_templates/templates/inc/header_logged.html %}
            {% endblock %}
        </div>
    </nav>
</header>
