<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-expand-lg">
            <div class="container-fluid">
            <div class="">
                <p><a style="font-size: 32px" class="navbar-brand" href="#">Proforgia</a></p>
<!--                <img src="../static/img/books.png" style="width:64px;">-->
            </div>
            {% block logged_block %}
                {% include ../wt_templates/templates/inc/header_logged.html %}
            {% endblock %}
        </div>
    </nav>
</header>
