{% include ../wt_templates/templates/inc/base_header.html %}

<style type="text/css">
    {% include ../wt_templates/templates/static/css/not_found.css %}
</style>

<!-- Begin page content -->
<main role="main" class="d-flex justify-content-center container">
    <div class="row container d-flex justify-content-between">
        Not Found
    </div>
</main>
<footer class="d-flex container justify-content-center">

</footer>
<script src="../js/jquery.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
