{% include ../wt_templates/templates/inc/base_header.html %}
<style type="text/css">
    {% include ../wt_templates/templates/static/css/profile.css %}
</style>

<main role="main" class="d-flex justify-content-center container">
    <div class="row container d-flex justify-content-between">
        <div class="col-5">
            <div class="name-page col-12">
                <h2>Choose from your rooms</h2>
            </div>
            <hr>
            {% block rooms %}
            <div class="card">
                <div class="card-body row">
                <p><a style="font-size: 20px" href="room/{{ room_src }}">{{ room_name }}</a></p>
                {% block remove_room %}
                    <p><a href="delete_room/{{ room_src }}">Remove {{ room_name }}</a></p>
                {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="col-2">

        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body row">
                    <form class="body-page col-12" method="POST" action="create">
                        <h3>Create new room</h3>
                        <div class="form-group row">
                            <label for="inputTitle" class="col-sm-3 col-form-label">Title</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="inputTitle" name="title" placeholder="room's name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <button type="submit" class="btn btn-primary mb-2 btn-dark reg-btn">Create room</button>
                        </div>
                    </form>
                </div>
            </div>

            <hr>
            <div class="card">
                <div class="card-body row">
                    <h3>Join an existing room</h3>
                    <form class="body-page col-12" method="POST" action="join">
                        <div class="form-group row">
                            <label for="roomID" class="col-sm-3 col-form-label">Room ID</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="roomID" name="roomID" placeholder="id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <button type="submit" class="btn btn-primary mb-2 btn-dark reg-btn">Sign in room</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
   </div>
</main>
</body>
</html>