{% include ../wt_templates/templates/inc/base_header.html %}

<style type="text/css">
  {% include ../wt_templates/templates/static/css/signup.css %}
</style>
  <!-- Begin page content -->
  <main role="main" class="d-flex justify-content-center container">
      <div class="row container d-flex justify-content-between">
        <div class="col-9 row">
          <div class="col-4 name-page">
            <h2>Registration</h2>
          </div>

          <form class="body-page col-12" method="post" action="signup">
            <div class="form-group row">
              <label for="login" class="col-sm-3 col-form-label">Login</label>
              <div class="col-sm-9">
                <input class="form-control" id="login" name="login">
              </div>
            </div>
            <div class="form-group row">
              <label for="mail" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input class="form-control" id="mail" name="mail">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <button type="submit" class="btn btn-primary mb-2 btn-dark reg-btn">Register</button>
            </div>
          </form>
        </div>
      </div>
  </main>
  <footer class="d-flex container justify-content-center">

  </footer>
  <script src="../js/jquery.slim.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
